<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ccp-dev" value="http://ccp-dev.chinacloudapp.cn/nuget/" />
    <add key="Sino" value="http://sinonuget.chinacloudsites.cn/nuget/" />
    <add key="86research" value="http://86research.cn:5000/nuget/nuget" />
    <add key="Schisandra" value="http://182.92.234.72:8080/api/odata" />
  </packageSources>
  <disabledPackageSources>
    <add key="ccp-dev" value="true" />
    <add key="Sino" value="true" />
    <add key="86research" value="true" />
  </disabledPackageSources>
  <activePackageSource>
	<add key="Schisandra" value="http://182.92.234.72:8080/api/odata" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ccp-dev" value="http://ccp-dev.chinacloudapp.cn/nuget/" />
    <add key="Sino" value="http://sinonuget.chinacloudsites.cn/nuget/" />
    <add key="86research" value="http://86research.cn:5000/nuget/nuget" />
  </activePackageSource>
</configuration>